# Conditional Statement
    * syntax:
        if condition:
            statement
        else:
            statement

In [1]:
age = 19

if age >= 18:
    print("Eligible to Vote")
else:
    print("Not Eligible to Vote")

Eligible to Vote

In [2]:
age = 17

if age >= 18:
    print("Eligible to Vote")
else:
    print("Not Eligible to Vote")

Not Eligible to Vote

In [3]:
age >= 18

False

In [4]:
age = 17

if True:
    print("Eligible to Vote")
else:
    print("Not Eligible to Vote")

Eligible to Vote

* `>` , `<` , `>=` , `<=` , `==`, `!=`

In [6]:
ord("a")

97

In [7]:
ord("A")

65

In [8]:
ord("😋")

128523

In [10]:
chr(128525)

'😍'

In [11]:
chr(255)

'ÿ'

In [14]:
open_file = open("students_data.csv", encoding = "utf-8")
open_file

In [15]:
import csv

In [16]:
read_file = csv.reader(open_file)
read_file

In [17]:
dataset = list(read_file)

In [18]:
dataset

[['Roll No.', 'Name', 'Chemistry', 'Physics', 'Maths'],
 ['101', 'Aliza', '45', '99', '88'],
 ['102', 'Soban', '50', '97', '87'],
 ['103', 'Noman', '43', '94', '89'],
 ['104', 'Bilal', '42', '87', '85'],
 ['105', 'Saim', '39', '76', '76'],
 ['106', 'Shameer', '38', '58', '75'],
 ['107', 'Zainab', '47', '92', '78'],
 ['108', 'Umer', '46', '86', '73'],
 ['109', 'Umair', '35', '83', '89'],
 ['110', 'Fizzah', '36', '81', '97'],
 ['111', 'Zahra', '49', '90', '94'],
 ['112', 'Fatima', '45', '88', '99'],
 ['113', 'Tooba', '43', '80', '93'],
 ['114', 'Saad', '42', '90', '77'],
 ['115', 'Azher', '41', '93', '98'],
 ['116', 'Danial', '34', '82', '87'],
 ['117', 'kaiser', '45', '91', '86'],
 ['118', 'Jibran', '46', '77', '78'],
 ['119', 'Maria', '43', '69', '94'],
 ['120', 'Amna', '38', '89', '91'],
 ['121', 'Noreen', '37', '98', '90']]

In [19]:
len(dataset)

22

In [21]:
dataset[1:6]

[['101', 'Aliza', '45', '99', '88'],
 ['102', 'Soban', '50', '97', '87'],
 ['103', 'Noman', '43', '94', '89'],
 ['104', 'Bilal', '42', '87', '85'],
 ['105', 'Saim', '39', '76', '76']]

In [22]:
dataset[1:]

[['101', 'Aliza', '45', '99', '88'],
 ['102', 'Soban', '50', '97', '87'],
 ['103', 'Noman', '43', '94', '89'],
 ['104', 'Bilal', '42', '87', '85'],
 ['105', 'Saim', '39', '76', '76'],
 ['106', 'Shameer', '38', '58', '75'],
 ['107', 'Zainab', '47', '92', '78'],
 ['108', 'Umer', '46', '86', '73'],
 ['109', 'Umair', '35', '83', '89'],
 ['110', 'Fizzah', '36', '81', '97'],
 ['111', 'Zahra', '49', '90', '94'],
 ['112', 'Fatima', '45', '88', '99'],
 ['113', 'Tooba', '43', '80', '93'],
 ['114', 'Saad', '42', '90', '77'],
 ['115', 'Azher', '41', '93', '98'],
 ['116', 'Danial', '34', '82', '87'],
 ['117', 'kaiser', '45', '91', '86'],
 ['118', 'Jibran', '46', '77', '78'],
 ['119', 'Maria', '43', '69', '94'],
 ['120', 'Amna', '38', '89', '91'],
 ['121', 'Noreen', '37', '98', '90']]

In [23]:
dataset[:5]

[['Roll No.', 'Name', 'Chemistry', 'Physics', 'Maths'],
 ['101', 'Aliza', '45', '99', '88'],
 ['102', 'Soban', '50', '97', '87'],
 ['103', 'Noman', '43', '94', '89'],
 ['104', 'Bilal', '42', '87', '85']]

In [25]:
for i in dataset[1:]:
    print(i[-3])

45
50
43
42
39
38
47
46
35
36
49
45
43
42
41
34
45
46
43
38
37

In [26]:
for i in dataset[1:]:
    print(type(i[-3]))

<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>

In [27]:
int("45")

45

In [28]:
int("4.5")

ValueError: invalid literal for int() with base 10: '4.5'

In [30]:
int(float("4.5"))

4

In [31]:
for i in dataset[1:]:
    chem = int(i[-3])
    print(type(chem))

<class 'int'>
<class 'int'>
<class 'int'>
<class 'int'>
<class 'int'>
<class 'int'>
<class 'int'>
<class 'int'>
<class 'int'>
<class 'int'>
<class 'int'>
<class 'int'>
<class 'int'>
<class 'int'>
<class 'int'>
<class 'int'>
<class 'int'>
<class 'int'>
<class 'int'>
<class 'int'>
<class 'int'>

In [32]:
chemistry = []

for i in dataset[1:]:
    chem = int(i[-3])
    chemistry.append(chem)

In [34]:
print(chemistry)

[45, 50, 43, 42, 39, 38, 47, 46, 35, 36, 49, 45, 43, 42, 41, 34, 45, 46, 43, 38, 37]

In [38]:
round(sum(chemistry)/len(chemistry), 2)

42.1

In [39]:
dataset

[['Roll No.', 'Name', 'Chemistry', 'Physics', 'Maths'],
 ['101', 'Aliza', '45', '99', '88'],
 ['102', 'Soban', '50', '97', '87'],
 ['103', 'Noman', '43', '94', '89'],
 ['104', 'Bilal', '42', '87', '85'],
 ['105', 'Saim', '39', '76', '76'],
 ['106', 'Shameer', '38', '58', '75'],
 ['107', 'Zainab', '47', '92', '78'],
 ['108', 'Umer', '46', '86', '73'],
 ['109', 'Umair', '35', '83', '89'],
 ['110', 'Fizzah', '36', '81', '97'],
 ['111', 'Zahra', '49', '90', '94'],
 ['112', 'Fatima', '45', '88', '99'],
 ['113', 'Tooba', '43', '80', '93'],
 ['114', 'Saad', '42', '90', '77'],
 ['115', 'Azher', '41', '93', '98'],
 ['116', 'Danial', '34', '82', '87'],
 ['117', 'kaiser', '45', '91', '86'],
 ['118', 'Jibran', '46', '77', '78'],
 ['119', 'Maria', '43', '69', '94'],
 ['120', 'Amna', '38', '89', '91'],
 ['121', 'Noreen', '37', '98', '90']]

In [40]:
for i in dataset[1:]:
    i[-3] = int(i[-3])
    i[-2] = int(i[-2])
    i[-1] = int(i[-1])

In [41]:
dataset

[['Roll No.', 'Name', 'Chemistry', 'Physics', 'Maths'],
 ['101', 'Aliza', 45, 99, 88],
 ['102', 'Soban', 50, 97, 87],
 ['103', 'Noman', 43, 94, 89],
 ['104', 'Bilal', 42, 87, 85],
 ['105', 'Saim', 39, 76, 76],
 ['106', 'Shameer', 38, 58, 75],
 ['107', 'Zainab', 47, 92, 78],
 ['108', 'Umer', 46, 86, 73],
 ['109', 'Umair', 35, 83, 89],
 ['110', 'Fizzah', 36, 81, 97],
 ['111', 'Zahra', 49, 90, 94],
 ['112', 'Fatima', 45, 88, 99],
 ['113', 'Tooba', 43, 80, 93],
 ['114', 'Saad', 42, 90, 77],
 ['115', 'Azher', 41, 93, 98],
 ['116', 'Danial', 34, 82, 87],
 ['117', 'kaiser', 45, 91, 86],
 ['118', 'Jibran', 46, 77, 78],
 ['119', 'Maria', 43, 69, 94],
 ['120', 'Amna', 38, 89, 91],
 ['121', 'Noreen', 37, 98, 90]]

In [43]:
dataset[0].append("Percentage")

In [44]:
dataset

[['Roll No.', 'Name', 'Chemistry', 'Physics', 'Maths', 'Percentage'],
 ['101', 'Aliza', 45, 99, 88],
 ['102', 'Soban', 50, 97, 87],
 ['103', 'Noman', 43, 94, 89],
 ['104', 'Bilal', 42, 87, 85],
 ['105', 'Saim', 39, 76, 76],
 ['106', 'Shameer', 38, 58, 75],
 ['107', 'Zainab', 47, 92, 78],
 ['108', 'Umer', 46, 86, 73],
 ['109', 'Umair', 35, 83, 89],
 ['110', 'Fizzah', 36, 81, 97],
 ['111', 'Zahra', 49, 90, 94],
 ['112', 'Fatima', 45, 88, 99],
 ['113', 'Tooba', 43, 80, 93],
 ['114', 'Saad', 42, 90, 77],
 ['115', 'Azher', 41, 93, 98],
 ['116', 'Danial', 34, 82, 87],
 ['117', 'kaiser', 45, 91, 86],
 ['118', 'Jibran', 46, 77, 78],
 ['119', 'Maria', 43, 69, 94],
 ['120', 'Amna', 38, 89, 91],
 ['121', 'Noreen', 37, 98, 90]]

In [46]:
for i in dataset[1:]:
    percentage = (i[-3] + i[-2] + i[-1]) / 300 * 100
    percentage = round(percentage,2)
    print(percentage)

77.33
78.0
75.33
71.33
63.67
57.0
72.33
68.33
69.0
71.33
77.67
77.33
72.0
69.67
77.33
67.67
74.0
67.0
68.67
72.67
75.0

In [47]:
for i in dataset[1:]:
    percentage = (i[-3] + i[-2] + i[-1]) / 300 * 100
    percentage = round(percentage,2)
    i.append(percentage)

In [48]:
dataset

[['Roll No.', 'Name', 'Chemistry', 'Physics', 'Maths', 'Percentage'],
 ['101', 'Aliza', 45, 99, 88, 77.33],
 ['102', 'Soban', 50, 97, 87, 78.0],
 ['103', 'Noman', 43, 94, 89, 75.33],
 ['104', 'Bilal', 42, 87, 85, 71.33],
 ['105', 'Saim', 39, 76, 76, 63.67],
 ['106', 'Shameer', 38, 58, 75, 57.0],
 ['107', 'Zainab', 47, 92, 78, 72.33],
 ['108', 'Umer', 46, 86, 73, 68.33],
 ['109', 'Umair', 35, 83, 89, 69.0],
 ['110', 'Fizzah', 36, 81, 97, 71.33],
 ['111', 'Zahra', 49, 90, 94, 77.67],
 ['112', 'Fatima', 45, 88, 99, 77.33],
 ['113', 'Tooba', 43, 80, 93, 72.0],
 ['114', 'Saad', 42, 90, 77, 69.67],
 ['115', 'Azher', 41, 93, 98, 77.33],
 ['116', 'Danial', 34, 82, 87, 67.67],
 ['117', 'kaiser', 45, 91, 86, 74.0],
 ['118', 'Jibran', 46, 77, 78, 67.0],
 ['119', 'Maria', 43, 69, 94, 68.67],
 ['120', 'Amna', 38, 89, 91, 72.67],
 ['121', 'Noreen', 37, 98, 90, 75.0]]

In [50]:
dataset[0].append("Remarks")
dataset[0]

['Roll No.', 'Name', 'Chemistry', 'Physics', 'Maths', 'Percentage', 'Remarks']

In [51]:
for i in dataset[1:]:
    percentage = i[-1]
    if percentage >= 70:
        i.append("Excellent")
    else:
        i.append("Average")

In [52]:
dataset

[['Roll No.',
  'Name',
  'Chemistry',
  'Physics',
  'Maths',
  'Percentage',
  'Remarks'],
 ['101', 'Aliza', 45, 99, 88, 77.33, 'Excellent'],
 ['102', 'Soban', 50, 97, 87, 78.0, 'Excellent'],
 ['103', 'Noman', 43, 94, 89, 75.33, 'Excellent'],
 ['104', 'Bilal', 42, 87, 85, 71.33, 'Excellent'],
 ['105', 'Saim', 39, 76, 76, 63.67, 'Average'],
 ['106', 'Shameer', 38, 58, 75, 57.0, 'Average'],
 ['107', 'Zainab', 47, 92, 78, 72.33, 'Excellent'],
 ['108', 'Umer', 46, 86, 73, 68.33, 'Average'],
 ['109', 'Umair', 35, 83, 89, 69.0, 'Average'],
 ['110', 'Fizzah', 36, 81, 97, 71.33, 'Excellent'],
 ['111', 'Zahra', 49, 90, 94, 77.67, 'Excellent'],
 ['112', 'Fatima', 45, 88, 99, 77.33, 'Excellent'],
 ['113', 'Tooba', 43, 80, 93, 72.0, 'Excellent'],
 ['114', 'Saad', 42, 90, 77, 69.67, 'Average'],
 ['115', 'Azher', 41, 93, 98, 77.33, 'Excellent'],
 ['116', 'Danial', 34, 82, 87, 67.67, 'Average'],
 ['117', 'kaiser', 45, 91, 86, 74.0, 'Excellent'],
 ['118', 'Jibran', 46, 77, 78, 67.0, 'Average'],
 ['119', 'Maria', 43, 69, 94, 68.67, 'Average'],
 ['120', 'Amna', 38, 89, 91, 72.67, 'Excellent'],
 ['121', 'Noreen', 37, 98, 90, 75.0, 'Excellent']]