# Assignment # 02

Consider a company that wants to gather employeeâ€™s personal information with the help of python. The personal information contains Name, Age, and Salary. If we initialize a variable for each information of an employee, we need three variables for an employee as shown below:

In [1]:
employee_name = "Waqas"
employee_age = 25
employee_salary = 50000.0

Considering the above case, if we have 500 people and we have to gather each of above-mentioned information of each and every employee, for this we have to make 1500 variables that will put unnecessary burden on system memory. In order to get rid of this issue we use "lists" to minimize the consumption of memory and make our work efficient enough to reach out the data.

## List

In Python, a list is a collection of items that are ordered and changeable. A list can contain any type of data, including numbers, strings, and other lists. Lets put the above information of an employee in the list.

In [2]:
employee_01 = ["Waqas",25,50000.0 ]

In the above mentioned list, we can see "Waqas" is the string, "25" is the integer number, and "50000.0" is the float number.
Also we need only one variable for each employee minimized the variables requirement from 1500 to 500, for 500 employee.

In [3]:
employee_01  #Calling list without print() function as we know jupyter notebook prints the last line if it is printable.

['Waqas', 25, 50000.0]

## List Indexing

We can access the individual items in the list with the help of indexing. In Python, lists are indexed starting from 0. This means that the first element of a list has an index of 0, the second element has an index of 1, and so on. We use [] (box brackets) with the assigned variable of list to call the particular index number of the list. For example,

In [4]:
employee_01[0] #Calling 0th idex item in employee_01.

'Waqas'

In [5]:
employee_01[1] #Calling idex 01 in employee_01.

25

In [6]:
employee_01[2] #Calling idex 02 in employee_01.

50000.0

You can also use negative indexing to access elements from the end of the list. In negative indexing, the last element of the list has an index of -1, the second-last element has an index of -2, and so on. For Example,

In [7]:
employee_01[-1] #Calling index -1 in employee_01.

50000.0

In [8]:
employee_01[-2] #Calling index -2 in employee_01.

25

In [9]:
employee_01[-3] #Calling index -3 in employee_01.

'Waqas'

If we have to add new items in this existing list we use ".append()" function that will add the new element at the end of the list. For example,

In [10]:
employee_01.append("M") # Here we are adding the gender of the employee. "M" represents the male.

In [11]:
employee_01 # Calling employee_01

['Waqas', 25, 50000.0, 'M']

Here we can see "M" added at the end the list.

Now we have to mention "male" instead of "M". For this we simply assign "male" at the existing index of "M".

In [12]:
employee_01[-1]="Male"

In [13]:
employee_01 # Calling employee_01

['Waqas', 25, 50000.0, 'Male']

Here we can see "Male" overwrite on "M".

Here we mistakenly write 50000.0 instead of 60000.0  as employee_01 salary. We need to add 10000.0 more in order to correct. We simply use special assignment operator "+=" to add 10000.0.

In [14]:
employee_01[-2]+=10000.0

In [15]:
employee_01 # Calling employee_01

['Waqas', 25, 60000.0, 'Male']

Now we can see, we successfully added 10000.0 at index[-2] to make it correct.

## List of Lists

In Python, you can create a list of lists, which is also known as a nested list. A nested list is a list that contains other lists as its elements.

Here's an example of how to create a list of lists:

In [20]:
employees = [["Waqas", 25, 50000, "Male"],["Ali", 23, 30000, "Male"],\
 ["Zara", 45000, "Female"],["Sahar", 40000, "Female"]]

In [17]:
employees #Calling employees.

[['Waqas', 25, 50000, 'Male'],
 ['Ali', 23, 30000, 'Male'],
 ['Zara', 45000, 'Female'],
 ['Sahar', 40000, 'Female']]

Now we have to find out the average salary of these four employees.

In [18]:
employees[0][-2] + employees[1][-2] + employees[2][1] + employees[3][1]/ 4

135000.0

135000 is not even the individual salary of any of the employee. This can not be the average salary of the employees. What happen here python first add employees[0][-2] + employees[1][-2] + employees[2][1] and then it adds employees[3][1]/4 because python follows PEMDAS rule to determine the order of operations in arithmetic expressions.

### PEMDAS Rule

PEMDAS is an acronym that stands for Parentheses, Exponents, Multiplication and Division, and Addition and Subtraction. In Python, the order of operations is also determined by the PEMDAS rule. When evaluating an arithmetic expression, Python will perform operations in the following order:

1)Parentheses
2)Exponents
3)Multiplication and Division (from left to right)
4)Addition and Subtraction (from left to right)

Now lets see what happens when we add parentheses at the ends of summation.

In [19]:
(employees[0][-2] + employees[1][-2] + employees[2][1] + employees[3][1])/ 4

41250.0

We get the correct average salaries.
Here in this case we have four employees so we divide the summation by 4. what if the number of employees is much more that we can count them manually, for this purpose we have a len() function that gives the length of the list. Let's see,

In [21]:
(employees[0][-2] + employees[1][-2] + employees[2][1] + employees[3][1])/ len(employees)

41250.0

Consider a case in which we have to gather the salaries of each and every employee. In this case we can access the salaries of individual employee because we just have four employee in our list. This is not the efficient method to access the particular information, what if we have 1000s of employee in our list? We cannot access them manually. For this purpose we use FOR Loop.

### For Loop

In Python, a for loop is a control flow statement that allows you to iterate over a sequence of elements, such as a list or a string. The general syntax of a for loop in Python is as follows:

for element in sequence:

In this syntax, sequence is the sequence of elements over which you want to iterate, and element is a variable that represents each individual element in the sequence during each iteration of the loop. The code inside the loop is executed once for each element in the sequence. 

Let's apply for loop in our list to get the salaries of individual employee.

In [22]:
for i in employees:
    print(i[2])

50000
30000
Female
Female

As we can see that we get the salaries of both male employee but in case of female employee, we get their gender. What happen here at employees[2][2] & employees[3][2], they have there genders instead of salaries. In order to get the salaries of each and every employee, we have to use negative indexing as we can see from negative index all four employee have salaries at index[-2].

Remember, python does not give anything optional. If there are formats of anything that can be done in two, three or more ways, at certain condition there must be a scenario that will only be able to utilize the particular formats to achieve the desired task. Similarly, here in our list of employees we cannot use negative indexing to get the name of each employee. Let's apply the above for loop with negative indexing.

In [23]:
for i in employees:
    print(i[-2])

50000
30000
45000
40000

Now we successfully gather the salaries of individual employees. In order to save these salaries in the list, we have to create an empty list, then apply the same for loop, but this time instead of printing we will add all the salaries in the empty list by using ".append()" function.

In [24]:
salaries = []

for i in employees:
    salaries.append(i[-2])
print(salaries)

[50000, 30000, 45000, 40000]

Python provides some special arthimatic function to perform some of the arthimatic tasks. sum() is one of them. Let's find the average salary of employees using sum() and len() function.

In [25]:
sum(salaries)/len(salaries)

41250.0